{% extends './layout/layout.html' %} {% block head %} {% block title %} {%
endblock title%} {% endblock head %} {% block body %}
<div class="container">
  <h1>My grammar app</h1>
  <p>
    Introducing a powerful text analysis app that simplifies your writing
    process. With features that include summarization, paraphrasing, grammar
    checks, translation, and plagiarism detection, it's a must-have for anyone
    looking to improve their writing skills. Save time and effort while
    producing high-quality content with this all-in-one app. Use it now and take
    your writing to the next level!
  </p>
</div>
{% endblock %}
